services:
  - type: web
    name: weka-clustering-service
    runtime: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: PORT
        value: 8080
      - key: JAVA_OPTS
        value: -Xmx512m -Xms256m

